.highlights {
  padding: 0 var(--gap);
}
.highlights-wrapper {
  margin: 0 auto;
  max-width: var(--max-width);
}
.highlights-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap) 0;
}
.highlights-header h2 {
  margin: 0;
  color: var(--color-primary-1);
  font: var(--font-title-2);
}
.highlights-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  flex-direction: row;
}
.highlights-list > div {
  flex: 1;
}
@media (max-width: 640px) {
  .highlights-list {
    flex-direction: column;
  } 
}