.hero {
  background: var(--color-primary-1);
  color: var(--color-secondary-3);
  font: var(--font-text-1);
  padding: 50px var(--gap);
  margin: 0 0 var(--gap);
}
.hero-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}
.hero h2 {
  font: var(--font-title-1);
  color: var(--color-primary-2);
  margin: 0;
}
.hero h3 {
  font: var(--font-title-2);
  margin: 0 0 15px;
}
.hero p {
  margin: 0 0 15px;
}
.hero-image {
  padding-top: var(--gap);
}
.hero-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--border-radius);
  max-height: 200px;
  object-fit: cover;
}
@media (min-width: 640px) {
  .hero {
    margin-bottom: 100px;
  }
  .hero-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .hero-content {
    width: 55%;
    padding-right: 5%;
  }
  .hero-image {
    padding-top: 0;
    width: 40%;
    position: relative;
    margin: 0 0 -150px;
  }
  .hero-image img {
    max-height: none;
  }
}