.highlights-item {
  font: 16px/1.5 Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0 0 20px;
}
.highlights-item-img {
  position: relative;
  padding-bottom: calc(100% * 3 / 4);
}
.highlights-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 10px;
}
.highlights-item-heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0 0;
}
.highlights-item-heading h3 {
  font: 18px/1 Arial, Helvetica, sans-serif;
  margin: 0;
}
.highlights-item-price {
  padding: 0 0 0 10px;
  color: #ee9972;
}
.highlights-item p {
  margin: 10px 0 0;
}
.highlights-item .highlights-item-link {
  padding-top: 10px;
  margin-top: auto;
}
.highlights-item-link a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-out;
}
@media (hover:hover) {
  .highlights-item-link a:hover {
    color: #ee9972;
  }
}