header {
  padding: var(--gap);
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--color-secondary-3);
  box-shadow: 2px 0 2px var(--color-secondary-4);
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

.logo {
  margin: 0;
  font-size: 0;
}
.logo a,
.logo img {
  display: block;
}