.footer {
  background: var(--color-secondary-4);
  color: var(--color-secondary-3);
  padding: var(--gap);
  font: var(--font-text-3);
}
.footer-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
.footer-logo {
  margin: 0 var(--gap) 0 0;
}
.footer-links h4 {
  color: var(--color-secondary-3);
  margin: 0 0 calc(var(--gap) / 2);
  font: var(--font-title-3);
}
.footer-links ul {
  margin: 0;
  padding: 0 0 var(--gap);
  list-style: none;
}
.footer-links li {
  margin: 0 0 calc(var(--gap) / 2);
}
.footer-links ul a {
  color: var(--color-secondary-3);
  text-decoration: none;
  transition: color 0.3s ease-out;
}
@media (hover:hover) {
  .footer-links ul a:hover {
    color: var(--color-secondary-1);
  }
}
@media (min-width: 640px) {
  .footer-wrapper { 
    align-items: center;
  }
  .footer-links {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer-links div {
    flex: 1;
  }
  .footer-links h4 {
    font: var(--font-title-3);
  }
}