.testimonials {
  padding: var(--gap);
  background: var(--color-secondary-2);
}
.testimonials-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}
.testimonials h2 {
  margin: 0 0 var(--gap);
  text-align: center;
  color: var(--color-secondary-4);
  color: var(--color-primary-1);
  font: var(--font-title-2);
}
.testimonials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap);
}